/*css reset start ==================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*============================ css reset end*/

#header {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 100000;
    width: 100%;
    justify-content: space-between;
    background: #00000024;
}
#menu_header {
    display: flex;
    list-style: none;}
#menu_header li {
    margin: 18px 15px 8px 10px;
    color: #fff;}

#social_header { display: flex;}
.social { margin: 10px;}

.fa-github-square:before,
.fa-instagram:before,
.fa-linkedin:before,
.fa-paper-plane:before{
    color: #fff;}