/*css reset start ==================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
    color: #333;
    line-height: 1.5em;
    text-align: justify;

}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*============================ css reset end*/

#header {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 100000;
    width: 100%;
    justify-content: space-between;
    background: #00000024;
}

#menu_header {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

#menu_header li {
    margin: 18px 15px 8px 10px;
    color: #fff;
}

#social_header {
    display: flex;
}

.social {
    margin: 10px;
    border-radius: 50%;
    border: 1px solid #ffffff42;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-github-square:before,
.fa-instagram:before,
.fa-linkedin:before,
.fa-paper-plane:before {
    color: #fff9;
    font-size: 22px;
}
.fa-github-square:hover:before,
.fa-instagram:hover:before,
.fa-linkedin:hover:before,
.fa-paper-plane:hover:before {
    color: #fff;
}



#about_as {
    display: flex;
    justify-content: center;
    width: 100%;
    /*margin-top: -0.5%;*/
    /*height: 100vh;*/



}

#about_as div {
    width: 100%;

}

.image_about_as img {
    width: 100%;
    object-fit: cover;
    height: 70vh;
}

.information_about_as {
    padding-left: 1vw;
}

#logo_header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 4%;
    font-size: 22px;
}

#logo_header span {
    color: #ff0059;
}

.title_information_about_as {
    padding-top: 5%;
    border-bottom: 1px solid;
    margin-bottom: 4%;
    text-transform: uppercase;
    font-weight: bold;

}

.button_information_about_as {
    background-color: #097e89;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 4%;
}

#menu_header li {
    cursor: pointer;
}

.title_section {
    padding: 3%;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: flex-end;
}

.section_color {
    background-color: #373737;
}

.section_color p {
    color: #fff;
}

.title_section p {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    width: 40%;
}


.wrap_items_slid {
    border: 1px solid;
    /*display: flex !important;*/

}


.slick-slider > div > div > div:nth-child(odd) > div > div {
    background-color: #3d3d3d;
}

.service_slider > div > div > div:nth-child(even) > div > div {  background-color: #097e89; }

.item_slid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid;*/
    margin: 1% 15%;
}

.button_item {
    width: 200px;
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 4%;
    background-color: #959595;
    margin-bottom: 10%;
}

.information_item {
    text-align: center;
    color: #fff;
}

title_section
.title_item {
    font-weight: bold;
    padding: 7% 2% 2% 2%;
}


hr.color_hr_white {
    border: 0;
    height: 1px;
    width: 100%;
    background: #000;
    background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
    background-image: -moz-linear-gradient(left, #fff, #000, #fff);
    background-image: -ms-linear-gradient(left, #fff, #000, #fff);
    background-image: -o-linear-gradient(left, #fff, #000, #fff);
}

hr.color_hr_black {
    border: 0;
    height: 1px;
    width: 100%;
    background: #000;
    background-image: -webkit-linear-gradient(left, #373737, #fff, #373737);
    background-image: -moz-linear-gradient(left, #373737, #fff, #373737);
    background-image: -ms-linear-gradient(left, #373737, #fff, #373737);
    background-image: -o-linear-gradient(left, #373737, #fff, #373737);
}

.previwe_clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.previwe_clients img {
    min-width: 60px;
    max-height: 60px;
    max-width: 160px;
}

.client_wrap_img {
    min-width: 21%;
    margin: 15px;
    text-align: center;
}

.title_item {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: 10px;
}


/*media screen*/
@media screen and (max-width: 860px) {
    #about_as {
        flex-wrap: wrap;
    }

    /*.image_about_as img {*/
    /*    height: 250px;*/
    /*}*/
}


/*sliders*//*sliders*//*sliders*//*sliders*/
.prevServise {
    position: absolute;
    z-index: 1000;
    right: 27px;
    top: 90%;
    width: 25px;
    height: 25px;
    background: #089eac;
    text-align: center;
}

.prevServise:before {
    content: '\f104';
    font-family: FontAwesome;
    font-size: 31px;
}

.nextService {
    position: absolute;
    z-index: 1000;
    right: 0px;
    top: 90%;
    width: 25px;
    height: 25px;
    background: #089eac;
    text-align: center;
}

.nextService:before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 31px;
}




.prevTop {
    position: absolute;
    z-index: 1000;
    left: 60px;
    top: 50%;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #ffffff38;
}
.prevTop:before {
    content: '\f104';
    font-family: FontAwesome;
    font-size: 31px;
    color: #ffffff4a;
}
.prevTop:hover:before {
    content: '\f104';
    font-family: FontAwesome;
    font-size: 31px;
    color: #ffffffcf;
}
.nextTop {
    position: absolute;
    z-index: 1000;
    right: 60px;
    top: 50%;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #ffffff38;
}
.nextTop:before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 31px;
    color: #ffffff4a;
}
.nextTop:hover:before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 31px;
    color: #ffffffcf;
}

.single-slide img {
    overflow: hidden;
    max-height: 100vh;
    object-fit: cover;
    width: 100vw;
}

.single-slide {
    position: relative;}

.overlayBackgraund {height: 100vh;
    position: absolute;
    background: #0d16366e;
    top: 0vh;
    left: 0px;
    width: 100%; }

.overlaySwipe {
    height: 8vh;
    background: #0000008a;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}


.fa-angle-double-left {
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-family: FontAwesome;
    font-size: 31px;
    color: #ffffff4a;
    transform: rotate(-88deg);}

.fa-angle-double-left:hover {
    color: #ffffffcf;
}
.topLink{ color: #0000;
    display: block;}

.overlayTitleSlid {
    top: 25%;
    width: 100%;
    height: 50%;
    position: absolute;

}
.wrapBoxTitle {
    border: 1px solid #ffffff38;
    height: 50vh;
    margin: 0px 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapBoxTitle p { color: #fff;
text-align: center;}
.boxTitle { text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;}

.wrapSlid {
    position: relative;}

 div.overlayTitleSlid.titleSlider > div > p:nth-child(2) { width: 50%;
 text-align: center;}



 /*menu*/
.menu_container{
    text-align: center;
}
/*.mobile_menu{*/
/*    font-size: 20px;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    line-height: 26px;*/
/*    padding: 12px 25px;*/
/*    color: #ffffff;*/
/*    background: #097e89a6;*/
/*    border-radius: 2px;*/
/*    border: none;*/
/*    width: auto;*/
/*    margin: 0;*/
/*    text-decoration: none;*/
/*    -webkit-transition: all 400ms;*/
/*    -moz-transition: all 400ms;*/
/*    transition: all 400ms;*/
/*}*/
.mobile_menu:hover{
    background: #09383c;
    cursor: pointer;
}
.mobile_menu_overlay, .mobile_menu_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile_menu_container, .mobile_menu_container ul li ul{
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
}
.mobile_menu_overlay{
    display: none;
    cursor: pointer;
    z-index: 10200;
    background: rgba(0, 0, 0, 0.5);
}
.mobile_menu_container{
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    width: 200px;
    overflow: hidden;
    z-index: 10201;
    background:#097e89a6;
}
.mobile_menu_container.loaded{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.mobile_menu_container .mobile_menu_content{
    overflow: auto;
    max-height: 100%;
    padding-bottom: 30px;
}
.mobile_menu_container ul{
    margin: 0;
    padding: 0;
}
.mobile_menu_container ul li{
    list-style: none;
}
.mobile_menu_container ul li a{
    display: block;
    padding: 15px 20px;
    background:#097e89a6;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.mobile_menu_container ul li a.parent:hover{
    background: #097e89a6 url("images/arrow_right.svg") right 20px center no-repeat;
    background-size: 20px;
}
.mobile_menu_container ul li a.back{
    padding-left: 50px;
    background: #097e89a6 url("images/arrow_left.svg") left 20px center no-repeat;
    background-size: 20px;
    min-height: 50px;
}
.mobile_menu_container ul li a.back:hover{
    background:#097e89a6 url("images/arrow_left.svg") left 20px center no-repeat;
    background-size: 20px;
}
.mobile_menu_container ul li a:hover{
    background:#097e89a6;
}
.mobile_menu_container ul li ul{
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #097e89;
    z-index: 2;
}
.mobile_menu_container ul li ul.loaded{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.menu_container { display: none;}

@media screen and (max-width: 968px){
    .menuDesctop { display: none;}
    .menu_container { display: block;}
    /*.overlayBackgraund {*/
    /*    height: auto;}*/
    
}

@media screen and (max-width: 500px) {
    #header { position: inherit;
        background: #373737;
    }
}

@media screen and (max-width: 400px){
    #social_header { margin: 0 auto;}
    .gamburger {
        width: 40px;
        height: 30px;}

}


/* Стилизация кнопки */ .gamburger{border-radius: 5px;
                            width: 50px;
                            height: 50px;
                            margin: 5px auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            box-shadow: 2px 2px 5px 0 rgba(50,50,50,0.45);
                            border: 1px solid #ffffff42;
                        }
.gamburger:hover{
    cursor: pointer;
    border: 1px solid #fff;
}
/* Стилизация полоски */ .gamburger span{        display: block;
                             transition: all 0.3s;
                             width: 32px;
                             margin: 3px;
                             height: 3px;
                             background-color: #c4174f;
                         }
/* анимация верхней полоски */
.first{
    transform: translate(5px, -3px) rotate(40deg);
    transform-origin: left top;
}
/* анимация средней полоски */
.middle{
    transform: scale(0);
}
/* анимация нижней полоски */
.last{
    transform: translate(-3px, -21px) rotate(-40deg);
    transform-origin: right bottom;
}

#menu_header > li > a {
    color: #fff;
    text-decoration: none;}


.item_slid_feedback img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;}

.wrap_items_slid_feedback { background: #3d3d3d;}

.containerTextFeedback { background: #3d3d3d;
    color: #fff;
    width: 30%;}

.wrappBoxFeedbck { display: flex;}

.feedback_slider {width: 70%;}

.wrappFeedbackSlider {
    display: flex;
    justify-content: center;
    align-items: center;
position: relative;}
.slider-navFeedback { width: 20%;
    background: #3d3d3d;
    min-height: 211px;
    position: relative;
}

.slider-forFeedback { width: 80%;
background: #3d3d3d;}

.slider-forFeedback img {
    margin: 0 30px;
    max-height: 200px;
    object-fit: cover;
    max-width: 280px;}

.slider-navFeedback p {
    color: #fff;
    text-align: center; }

.wrappFeedbackSlider


.prevFeedback:before {
    content: '\f104';
    font-family: FontAwesome;
    font-size: 31px;
}

.nextFeedback:before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 31px;}

.nextFeedback {
    position: absolute;
    z-index: 1000;
    right: 0px;
    top: 90%;
    width: 25px;
    height: 25px;
    background: #089eac;
    text-align: center;
}
.prevFeedback {
    position: absolute;
    z-index: 1000;
    right: 27px;
    top: 90%;
    width: 25px;
    height: 25px;
    background: #089eac;
    text-align: center;}

